<?xml version="1.0"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="EarthQuake_Realtime_Checker.My.MySettings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
        </sectionGroup>
    </configSections>
    <system.diagnostics>
        <sources>
            <!-- This section defines the logging configuration for My.Application.Log -->
            <source name="DefaultSource" switchName="DefaultSwitch">
                <listeners>
                    <add name="FileLog"/>
                    <!-- Uncomment the below section to write to the Application Event Log -->
                    <!--<add name="EventLog"/>-->
                </listeners>
            </source>
        </sources>
        <switches>
            <add name="DefaultSwitch" value="Information"/>
        </switches>
        <sharedListeners>
            <add name="FileLog" type="Microsoft.VisualBasic.Logging.FileLogTraceListener, Microsoft.VisualBasic, Version=8.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a, processorArchitecture=MSIL" initializeData="FileLogWriter"/>
            <!-- Uncomment the below section and replace APPLICATION_NAME with the name of your application to write to the Application Event Log -->
            <!--<add name="EventLog" type="System.Diagnostics.EventLogTraceListener" initializeData="APPLICATION_NAME"/> -->
        </sharedListeners>
    </system.diagnostics>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5"/></startup>
    <userSettings>
        <EarthQuake_Realtime_Checker.My.MySettings>
            <setting name="consumer" serializeAs="String">
                <value>IwOLgW4ZSoF9XDD0jYMy2g</value>
            </setting>
            <setting name="consumersecret" serializeAs="String">
                <value>VvPQq2iCKwElrLzeVzBVPZGK67BpgY5o6YL66X6BOo</value>
            </setting>
            <setting name="isStartUp" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="isShowPersonalMessage" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="isPlayLoop" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="isTSunamiMode" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="cQuakeLevel" serializeAs="String">
                <value>2.0</value>
            </setting>
            <setting name="isPlaySound" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="soundPath" serializeAs="String">
                <value>quakeAlert_09.wav</value>
            </setting>
            <setting name="isSendEmailMessage" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="HOST" serializeAs="String">
                <value/>
            </setting>
            <setting name="mailAccept" serializeAs="String">
                <value>NO</value>
            </setting>
            <setting name="HIndex" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="IsColv1" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="IsColv2" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="IsColv3" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="IsColv4" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="IsColv5" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="IsColv6" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="IsColv7" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="IsColv8" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="IsColv9" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="setColv1" serializeAs="String">
                <value>White</value>
            </setting>
            <setting name="setColv2" serializeAs="String">
                <value>White</value>
            </setting>
            <setting name="setColv3" serializeAs="String">
                <value>White</value>
            </setting>
            <setting name="setColv4" serializeAs="String">
                <value>White</value>
            </setting>
            <setting name="setColv5" serializeAs="String">
                <value>White</value>
            </setting>
            <setting name="setColv6" serializeAs="String">
                <value>White</value>
            </setting>
            <setting name="setColv7" serializeAs="String">
                <value>White</value>
            </setting>
            <setting name="setColv8" serializeAs="String">
                <value>White</value>
            </setting>
            <setting name="setColv9" serializeAs="String">
                <value>White</value>
            </setting>
            <setting name="setColv10" serializeAs="String">
                <value>White</value>
            </setting>
            <setting name="IsColv10" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="mail_user" serializeAs="String">
                <value/>
            </setting>
            <setting name="mail_password" serializeAs="String">
                <value/>
            </setting>
            <setting name="ax_mail_by" serializeAs="String">
                <value/>
            </setting>
        </EarthQuake_Realtime_Checker.My.MySettings>
    </userSettings>
</configuration>
